<ion-header>
  <ion-toolbar>
    <ion-title>Edit Peronsal Info</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/settings"></ion-back-button></ion-buttons>
    <ion-buttons slot="end">
      <ion-button onclick="dismissModal()">Save</ion-button>
      </ion-buttons>                      
  </ion-toolbar>
</ion-header>
                  
 
<ion-content>

  <ion-item class="box">
    <ion-label class="titulo">Nombre: </ion-label>
    <ion-input class="input"  placeholder="placeholder" type="text"></ion-input>
  </ion-item>

  <ion-item class="box">
    <ion-label class="titulo">Apellido: </ion-label>
    <ion-input class="input"  placeholder="placeholder" type="text"></ion-input>
  </ion-item>

</ion-content> 