<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm" (ngSubmit)="iniciarSesion(loginForm.value)">  

    <ion-item>
      <ion-label position="stacked">email</ion-label>
      <ion-input formControlName="email" placeholder="Type your email" type="text"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type="password" #password required class="input"  placeholder="Type password" 
      formControlName="password"></ion-input>
    </ion-item>
       
        
    <ion-button type="submit" expand="full"  color="success">
      <ion-icon slot="start" name="person-add"></ion-icon>
      Log In
    </ion-button>

    <ion-toolbar *ngIf = "mostrarMensajeError">
      Wrong username or password
    </ion-toolbar>
  
  </form>

</ion-content>
