<ion-header>
  <ion-toolbar>
    <ion-title>editpassw</ion-title>
    <ion-button id="btnSalir"  expand="block" shape="round" slot="end"  size="small" color="success" >
      
      <ion-icon name="checkmark-circle-outline"slot="start"></ion-icon> 
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div  id="contenedor-cajones"[fullscreen]="true" class="ion-padding">

    <ion-item class="box">
      <ion-label class="titulo"> </ion-label>
      <ion-input class="input"  placeholder="Current password" type="password"></ion-input>
    </ion-item>    
  
    <ion-item class="box">
      <ion-label class="titulo"> </ion-label>
      <ion-input class="input"  placeholder="New password" type="password"></ion-input>
    </ion-item>
  
    <ion-item class="box">
      <ion-label class="titulo"> </ion-label>
      <ion-input class="input"  placeholder="New password, again" type="password"></ion-input>
    </ion-item>
  
    

  </div>

    

</ion-content>
