<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="stacked">User name</ion-label>
    <ion-input placeholder="Type User name" type="text"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" placeholder="Type password"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Confirm password</ion-label>
    <ion-input type="password" placeholder="Confirm password"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked"> Date of birth </ion-label>
      <ion-datetime  value="1990-01-01" placeholder="Select date"></ion-datetime>
    </ion-item>
  
    <ion-button expand="full"  color="success">
  
       <ion-icon slot="start" name="person-add"></ion-icon>
  
      New User</ion-button>

</ion-content>
