<ion-header>
  <ion-toolbar>
    <ion-title>menup</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- Seccion que se utilizará luego -->
  <ion-card>
    <img src="assets/almendras.png" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Nueces</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Información nutricional: 
    </ion-card-content>
  </ion-card>

  <ion-card>

    <img src="assets/soybean_sprout.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Soy beans or Chinese roots</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Información nutricional: 
    </ion-card-content>
  </ion-card>

  <!-- Seccion que se utilizará luego -->

</ion-content>
