<ion-header>
  <ion-toolbar>
    <ion-title id='title'>Profile</ion-title>
    <ion-buttons slot="start"> 
      <ion-menu-button menu="main-menu"> </ion-menu-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-item>   
    <ion-avatar (click) = "tomarFoto()">
      <img [src]="imagenUsuario" *ngIf="!foto">
      <img [src]="foto" *ngIf="foto">
    </ion-avatar>
    <ion-label>Profile Name</ion-label>
  </ion-item>

  <!-- <ion-content fullscreen class="ion-padding">
    <ion-button expand="block" (click)="presentActionSheet()">
      Actions
    </ion-button>
  </ion-content> -->
    

</ion-content>


