<ion-header>
  <ion-toolbar>
    <ion-title id='title'>Profile</ion-title>
    <ion-buttons slot="start"> 
      <ion-menu-button menu="main-menu"> </ion-menu-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">
  
  <ion-item>   
    <ion-avatar (click) = "tomarFoto()">
      <img [src]="imagenUsuario" *ngIf="!foto">
      <img [src]="foto" *ngIf="foto">
    </ion-avatar>
    <ion-label>Profile Name</ion-label>
    
  </ion-item>

  <ion-fab vertical="end" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="light">
        <ion-icon (click)="abrirPopover()" name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>



    

</ion-content>


