<ion-header>
  <ion-toolbar>
    <ion-title>favorites</ion-title>
    <ion-buttons slot="start"> 
      <ion-menu-button menu="main-menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="container">

    <!-- Aqui van los cards favoritos ingresados a Home-->
    <ion-card>
      <img src="assets/almendras.png" />
      <ion-card-header>
        <ion-card-subtitle>Walnuts</ion-card-subtitle>
        <ion-card-title>Almonds</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Información nutricional: 
      </ion-card-content>
    </ion-card>
  
    <ion-card>

      <img src="assets/soybean_sprout.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Grain</ion-card-subtitle>
        <ion-card-title>soybeans sprouts</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Información nutricional: 
      </ion-card-content>
       </ion-card>    

  </div>

</ion-content>

