<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FoodTracker
    </ion-title>
    <ion-buttons slot="start"> 
      <ion-menu-button menu="main-menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div id="container">
       
    <ion-card>
      <img src="assets/SalmonParrila.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Roast Salmon with large onions</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        A recipe with salmon bla bla.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/espaguetis_chinos.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>otro plato</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        descripcion.
      </ion-card-content>
    </ion-card>
    


  </div>
</ion-content>
