<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FoodTracker
    </ion-title>
    <ion-buttons slot="start"> 
      <ion-menu-button menu="main-menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div id="container">
       
    <ion-card>
      <img src="assets/SalmonParrila.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Dinner</ion-card-subtitle>
        <ion-card-title>Roast Salmon with spices</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Description
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="assets/espaguetis_chinos.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Lunch</ion-card-subtitle>
        <ion-card-title>Noodles with Vegetables and Meat</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        description.
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <img src="assets/espaguetis_chinos.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Lunch</ion-card-subtitle>
        <ion-card-title>Noodles with Vegetables and Meat</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        nueva modificación.
      </ion-card-content>
    </ion-card>


  </div>
</ion-content>
