<ion-header>
  <ion-toolbar>
    <ion-title id="title">Add a New Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" [fullscreen]="true">


  <ion-list lines="full" class="ion-no-margin">
   
    
      <ion-item id="item-foto" class="PicBox">
        <ion-label id="label" class="label_pic">
          <img  id="cam" class="fcamara" (click) = "tomarfoto()" [src]="imagenrecetanueva" *ngIf="!foto" >
          <img id="cam" class="fcamara" [src]="foto"  *ngIf="foto"> 
        </ion-label >
      </ion-item>

      <ion-item class="box">
        <ion-input id="titulo" class="input" placeholder="Title"></ion-input>
      </ion-item>
  
      <ion-item class="box">
        <ion-textarea   id="ingredients" placeholder="Ingredients"></ion-textarea>
      </ion-item>
  
      <ion-item class="box">
        <ion-textarea placeholder="Steps"></ion-textarea>
      </ion-item>
  
      
      <ion-buttons slot="end">
        <ion-button type="submit" id="guardar" expand="block" shape="round" >Save Recipe</ion-button>
      </ion-buttons>
      
    
  </ion-list>
  

</ion-content>
