<ion-header>
  <ion-toolbar>
    <ion-title>Add a New Recipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list lines="full" class="ion-no-margin">
    <form id="form" [formGroup]="CreateRecepie" (ngSubmit)="formSubmit()" >
    
      <ion-item class="PicBox">
        <ion-label id="label" class="label_pic"  >
          <img  id="cam" class="fcamara" (click) = "tomarfoto()" [src]="img" *ngIf="!foto">
          <img id="cam" class="fcamara" [src]="foto" *ngIf="foto">
        </ion-label >
      </ion-item>
  
      <ion-item class="box">
        <ion-label position="stacked" id = "titulo" class="titulo">Título</ion-label>
        <ion-input formControlName="Titulo" id="titulo" class="input" placeholder="placeholder"></ion-input>
      </ion-item>
  
      <ion-item class="boxs">
        <ion-label position="stacked" class="titulo">Ingredients</ion-label>
        <ion-textarea  formControlName="Ingredients" id="ingredients" placeholder="placeholder"></ion-textarea>
      </ion-item>
  
      <ion-item class="box">
        <ion-label position="stacked" class="titulo">Steps</ion-label>
        <ion-textarea formControlName="Steps" placeholder="placeholder"></ion-textarea>
      </ion-item>
  
      <ion-item class="box">
        <ion-label class="titulo">Tiempo de ejecución: </ion-label>
        <ion-input class="input" formControlName="Tiempo"  placeholder="placeholder" type="text"></ion-input>
      </ion-item>

      <ion-buttons slot="end">
        <ion-button type="submit" id="guardar" expand="block" shape="round" >Save Recipe</ion-button>
      </ion-buttons>
      
    </form>
  </ion-list>
  

</ion-content>
