<ion-header>
  <ion-toolbar>
    <ion-title>slides</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides>

    <ion-slide pager="true">
      <div class="slide">
        
        <h2>Welcome</h2>
        <p>This app can be use as a guide to improve your food intake in order to maintain healty habbits acording to people needs</p>
        <!--img src="assets/platoF.svg" /-->
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <h2>What are you waiting for? </h2>
        <h2>Come and check our comunity!</h2>
        <p>Use the labels to find guidance to you alimentary habbits</p>
        <ion-button expand="block" color="success" (click)="viewed()">Start now</ion-button>
        <!--img src="assets/joining.jpg" /-->
    </div>    
    </ion-slide>


  </ion-slides>

</ion-content>
